# Android Studio / IntelliJ
*.iml
.idea/

# Gradle
.gradle/
build/

# Local properties and OS files
local.properties
.DS_Store

# NDK / External builds
.externalNativeBuild
.cxx

# Captures
captures/
